<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  The <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  is what I've been using to make this site.  If you'd like to leave a comment, please email me at: johnhinrichs@example.com.
</p>